---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
const title = "Image Classifier - Sessions";
---

<Layout title={title}>
	<Navbar title={title} />
	<main>
		<div class="container mx-auto">
			<div class="flex flex-col items-center m-8">
				<div class="text-slate-200 text-3xl font-bold mt-4">
					Pick a session or create a new one
				</div>
				<div id="btnContainer" class="py-8 flex flex-col gap-2 h-auto w-fit">
				</div>
			</div>
		</div>

		<script >
			interface Session {
				session_id: number;
				img_labeled: number;
				img_total: number;
			}
			interface ResponseData {
				success: boolean;
				data?: Session[];
				info?: string;
			}
			
			const API_URL = import.meta.env.PUBLIC_API_URL;

			let firstLoad = true;
			const btnContainer = document.getElementById("btnContainer");

			async function getAvailableSessions() {
				try {
					const response = await fetch(
						API_URL + "/get_available_sessions",
						{
							method: "GET",
						},
					);

					const res: ResponseData = await response.json();
					// console.log(res);

					if (res.success === false) {
						alert(res.info);
						return;
					}

					res.data?.forEach((session) => {
						const btn = document.createElement("button");
						btn.textContent = `Session ${session.session_id.toString()} - (${session.img_labeled}/${session.img_total})`;
						btn.id = `btn-${session.session_id.toString()}`;
						btn.addEventListener("click", function () {
							document.location.href = `classify?session=${session.session_id.toString()}`;
						});
						btn.classList.add(
							"bg-sky-700",
							"hover:bg-sky-900",
							"text-white",
							"font-bold",
							"py-2",
							"px-4",
							"w-full",
							"rounded",
						);
						if (btnContainer) {
							btnContainer.appendChild(btn);
						}
					});
				} catch (error) {
					console.error("Error fetching image:", error);
				}
			}

			if (firstLoad) {
				getAvailableSessions();
				firstLoad = false;
			}
		</script>
	</main>
</Layout>
